.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  background:#f0f2f5;
  
}

.foot {
  margin-bottom: 32px;
}

.content {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.login-form-button {
  width: 100%;
}

@media (min-width: 800px) {

  .content {
    padding: 72px 0 24px 0;
  }
}

@media (min-height: 500px) {

  .content {
    padding-top: 72px;
  }
}

.header {
  /* height: 44px; */
  line-height: 44px;
  text-align: center;
  
}

.logo {
  height: 44px;
  vertical-align: top;
  margin-right: 16px;
}

.title {
  font-size: 33px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: relative;
  top: 2px;
}

.desc {
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 12px;
  margin-bottom: 40px;
}


 
  
